.idea
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.vscode
.AppleDB
.AppleDesktop
.apdisk
.DS_Store
.AppleDouble
.LSOverride
.yarn-integrity
.npm
node_modules
coverage
logs
*.log
desktop.ini
npm-debug.log
yarn-debug.log*
yarn-error.log*
dist
config
views/config.json
public/upload
