<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy Mock</title>
    <meta property="og:url" content="https://easy-mock.com">
    <meta property="og:site_name" content="Easy Mock">
    <meta property="og:title" content="更简单高效的伪造数据">
    <meta property="og:description" content="Easy Mock 是一个可视化, 并且能快速生成模拟数据的持久化服务.">
    <meta property="og:image" content="https://img.souche.com/20170509/png/fff9d8506199c4bf8cc53bad9d849215.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="260">
    <meta property="og:image:height" content="260">
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
