@import '../../styles/base/var.css';

@c proj-detail {
  padding-bottom: 20px;

  td .ivu-table-cell {
    font-size: 14px;
  }

  .method-tag {
    width: 100%;
    text-align: center;
  }

  @d info {
    margin: 20px 0;
    font-size: 16px;
    color: #fff;
    background: var(--color-primary);
    border-radius: 4px;
    box-shadow: 0 2px 3px #eee;

    .ivu-col {
      padding: 10px;
    }

    .ivu-col:first-child {
      padding: 30px 20px;
    }

    .ivu-col:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 0 3px #000;
      text-align: center;
      background: #252d47;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }

    .author {
      background: rgba(0,0,0,.3);
      border-radius: 20px;
      padding: 2px 10px;
      font-size: 14px;
      margin-top: 10px;
      max-width: 200px;
      @utils-ellipsis;
    }

    .tag {
      background: rgba(0,0,0,.3);
      border-radius: 20px;
      font-size: 13px;
      margin-top: 16px;
      padding-right: 10px;
      @utils-ellipsis;

      span {
        padding: 5px 10px;
        background: rgba(0,0,0,.5);
        display: inline-block;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-right: 10px;
        width: 100px;
        text-align: center;
      }
    }
  }

  @d switcher {
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0 2px 3px #bbb;
    font-size: 13px;
    @utils-user-select none;

    ul {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    li:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    li:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    li {
      background: #252d47;
      padding: 15px 0;
      text-align: center;
      display: table-cell;
      cursor: pointer;
      transition: var(--all-transition);

      &:hover {
        background: color(#252d47 a(96%));
      }
    }
  }

  @d members {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #eee;
    padding: 20px 20px 0;

    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .ivu-table-cell .ivu-dropdown {
    margin-left: 5px;
  }
}

@c mock-expand {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px #ddd;
  padding: 20px;

  h2 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    margin-top: 6px;
    margin-bottom: 10px;
    background: #41444e;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    font-size: 13px;
  }

  pre {
    margin: 0;
  }
}

@c data-type-expand {
  background: #41444e;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  overflow: scroll;

  p, pre {
    margin: 0;
    padding: 0;
  }
}
