@import "./var.css";
@reset-global pc;

html,
body {
  background: #f5f7fa!important;
}

body {
    font-weight: 400;
    min-width: var(--body-width);
}

a {
    color: inherit;
    text-decoration: none;
}
